*{
  font-family: Helvetica, Arial;
  color: white;
  background-image: url(star2.png);
  scroll-behavior: smooth;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }

  to{
    opacity:1;
  }
}

.main{
  color: white;
  text-align: center;
  animation: fadeIn 4s;
}

.container-fluid{
  padding-top: 80px;
}

#barra_nav{
  opacity: 0.9;
  animation: fadeIn 2.5s;
}

#nav_item{
  color: white;
}

#nav_item:hover{
  color: teal;
  transform: scale(1.1);
  transition-duration: 0.3s;
}

#in{
  padding-top:50px;
  float: left;
  width:30%;
}

#about{
  float: right;
  width:70%;
  height: 340px;
}

#social{
  width: 50px;
  height:50px;
  align:right;
  margin-right: 50px;
}

#portfolio{
  float: center;
  padding-top: 100px;
  text-align: center;
  border-radius:15%;
}

#img{
  border-radius:1%;
  align:auto;
  margin-left: 0.7%;
  margin-bottom:0.7%;
}

#img:hover{
  transition-duration: 0.3s;
  box-shadow: 2px 4px 5px #232323;
  transform: scale(1.10);
}

footer:{
  margin: auto;
}
