* {
	font-family: Helvetica, Arial;
	color: white;
	scroll-behavior: smooth;
}

body {
	background-image: url(Images/star.png);
}

/*figure out the colour for navbar*/

.navbar {
	animation: fadeInNav 2.5s;
	align-items: center;
	display: flex;
	position: fixed;
	background-color: #222;
	opacity: 0.9;
	width: 99%;
	max-width: 99%;
	max-height: 18%;
	z-index: 1;
	box-shadow: 0px 0px 50px #232323;
}

.nav {
	color: white;
	display: flex;
	justify-content: right;
	list-style: none;
	margin-left: auto;
	text-transform: uppercase;
}

.nav_item {
	margin-right: 15px;
	font-size: 1.3vw;
	text-decoration: none;
	transform: scale(1);
	transition-duration: 0.3s;
}

.nav_item:hover {
	color: #ca0000;
	transform: scale(1.10);
	transition-duration: 0.3s;
}

.main {
	padding-top: 40px;
	color: white;
	text-align: center;
	animation: fadeIn 3s;
}

#in {
	padding-top: 3%;
	justify-content: center;
	width: 100%;
	clear: both;
}

#in img {
	border-radius: 100%;
	width: 270px;
	height: 335px;
}

#about {
	clear: both;
	width: 100%;
	height: 100%;
}

#about img {
	width: 51px;
	height: 51px;
}

#Maissobremim {
	animation: fadeIn 2.5s;
	padding: 1% 0%;
	margin: 2% 0.5% 0% 0.5%;
	border: 0.01px solid grey;
	background-color: #202020;
}

.Maissobremim_heading {
	font-size: 2vw;
	padding: 1% 0% 0.5% 0%;
	margin: -0.8% 0.2% 2% 0.2%;
	background-color: #06476f;
	color: white;
	text-transform: capitalize;
}

.Maissobremim_heading img {
	width: 40px;
	margin: -10px auto;
}

#interesses {
	margin-right: 40%;
	text-align: center;
}

#interesses h2 {
	background-color: darkcyan;
	color: wheat;
	border-radius: 5px;
	padding-top: 5px;
	margin-left: 10%;
}

#passatempos {
	text-align: center;
	margin: 5% 4% 5% 50%;
}

#passatempos h2 {
	background-color: darkcyan;
	color: wheat;
	padding-top: 5px;
	border-radius: 5px;
}

#footer {
	clear: both;
	color: white;
	display: flex;
	justify-content: center;
}

/*fadein animation*/

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeInNav {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.9;
	}
}